<footer class="footer bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h5>About Us</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non sem eu libero rhoncus egestas.</p>
            </div>
            <div class="col-md-3">
                <br>
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <br>
                <h5>Contact Us</h5>
                <address>
                    123 Main Street<br>
                    City, State 12345<br>
                    Phone: (123) 456-7890<br>
                    Email: infoatexample.com
                </address>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>© 2024 Student Management System by Hrushikesh. All rights reserved.</p>
        </div>
    </div>
</footer>
